<a href="https://colab.research.google.com/github/namgyu71/DAP__/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Startup Data

In [10]:
filename='/content/drive/MyDrive/codingground/all_seasons.csv'
df = pd.read_csv(filename)
df.head()

   Unnamed: 0      player_name team_abbreviation  ...  ts_pct  ast_pct   season
0           0    Travis Knight               LAL  ...   0.536    0.052  1996-97
1           1        Matt Fish               MIA  ...   0.333    0.000  1996-97
2           2     Matt Bullard               HOU  ...   0.535    0.099  1996-97
3           3     Marty Conlon               BOS  ...   0.542    0.101  1996-97
4           4  Martin Muursepp               DAL  ...   0.482    0.114  1996-97

[5 rows x 22 columns]